@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* space-mono-regular - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/fonts/space-mono-v12-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/space-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/space-mono-v12-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/space-mono-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    font-family: 'Space Mono';
  }
}

@layer components {
  .interactive {
    @apply transition hover:scale-105 hover:active:scale-100;
  }

  button {
    @apply interactive text-2xl;
  }

  input {
    @apply interactive font-bold text-2xl text-app-teal-900 focus:outline-app-accent hover:outline-app-accent;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
